html, body {
  height: 100%;
}

.container {

}

.rowA{
  border: 1px solid black;
  height:80%;

  .rowAA{
    height: 20%;
    border: 1px solid black;
  }
  .rowAB{
    
    height: 80%;
    border: 1px solid black;
  }

}



 .rowB{
      border: 1px solid blue;
      height:20%;
}